autotest/ogr/data/wfs/describe_feature_type.xml

<?xml version='1.0' encoding="ISO-8859-1" ?>
<schema
   targetNamespace="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ms="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ogc="http://www.opengis.net/ogc"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:gml="http://www.opengis.net/gml"
   elementFormDefault="qualified" version="0.1" >

  <import namespace="http://www.opengis.net/gml"
          schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />

  <element name="rijkswegen" 
           type="ms:rijkswegenType" 
           substitutionGroup="gml:_Feature" />

  <complexType name="rijkswegenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:MultiCurvePropertyType" minOccurs="0" maxOccurs="1"/>
          <element name="MPLength" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

</schema>
