autotest/ogr/data/gmlas/gmlas_aux_schema_without_namespace_prefix_main.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://main"
           targetNamespace="http://main"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="main_elt">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="foo" type="xs:string"/>
            <xs:element ref="generic" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="generic" abstract="true" type="xs:anyType"/>
</xs:schema>
