autotest/ogr/data/gmlas/gmlas_typing_constraints_one_subst_no_repetition.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:myns="http://myns"
           targetNamespace="http://myns"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="main_elt">
  <xs:complexType>
        <xs:sequence>
            <xs:element name="foo" minOccurs="0"/>
        </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="bar">
  <xs:complexType>
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
