autotest/ogr/data/gmlas/gmlas_timestamp_ignored_for_hash.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="first">
  <xs:complexType>
    <xs:sequence>
        <xs:element name="foo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="timeStamp" type="xs:string"/>
  </xs:complexType>
</xs:element>
</xs:schema>
