data/gfs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="GMLFeatureClassList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SequentialLayers" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>TODO: Provide definition. Does this element serve the same purpose as SEQUENTIAL_LAYERS describe on https://gdal.org/drivers/vector/gml.html#performance-issues-with-large-multi-layer-gml-files? ... Can we define any default value in the XML schema, for example 'false'?</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="GMLFeatureClass">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Name of the feature type; essentially used as layer name. Can be different than the name of the XML element that represents such a feature in XML data. Examples: case can change, a prefix can be added to the name, and the name can be more human readable (e.g. the full name, rather than an abbreviation).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ElementPath" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Defines the path in a given XML document to the elements that represent the GML feature. Can use '|' as element separator. Namespace prefixes of path elements are insignificant. 

TBD: Since multiple ElementPath-elements are not allowed per GMLFeatureClass, that would mean that if a feature type was encoded in different places in an XML document (e.g. on collection member level, as well as inline in some other feature), that the gfs file would have to contain multiple GMLFeatureClass entries, with different ElementPaths. Is that correct? Are multiple GMLFeatureClass elements with same name even supported right now? Not sure if this is a relevant use case, but at least in theory it can occur. That's why I would like to clarify what is allowed and supported by gfs.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="SRSName" type="xs:string">
                <xs:annotation>
                  <xs:documentation>TBD: What is the purpose of the SRSName element? It is rarely used in the gfs examples I found.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" ref="GeomPropertyDefn">
                <xs:annotation>
                  <xs:documentation>TBD: Only use if geom property count is > 1? ... or can we use it in all cases, i.e. also if the count = 1?</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="GeometryName" type="xs:string">
                <xs:annotation>
                  <xs:documentation>TBD: Only used if geom property count = 1; may be deprecated, in favor of GeomPropertyDefn, but not sure. Please clarify.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="GeometryElementPath" type="xs:string">
                <xs:annotation>
                  <xs:documentation>TBD: Used in combination with the GeometryName element. Same purpose and syntax as in GeomPropertyDefn/ElementPath, I suppose.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="GeometryType" type="SupportedGeometryTypes">
                <xs:annotation>
                  <xs:documentation>TBD: Used in combination with the GeometryName element. Same purpose and syntax as in GeomPropertyDefn/Type, I suppose.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="DatasetSpecificInfo">
                <xs:annotation>
                  <xs:documentation>TBD: What is the purpose of this element? To define additional information about the dataset (the one that the gfs file is used for)?</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="FeatureCount" type="xs:nonNegativeInteger">
                      <xs:annotation>
                        <xs:documentation>TBD: What is the purpose of this element? To identify the number of features within a particular dataset (the one that the gfs file is used for)?</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element default="0.0" minOccurs="0" name="ExtentXMin" type="xs:double">
                      <xs:annotation>
                        <xs:documentation>TBD: What is the purpose of this element? Define the extent (here: XMin) of a particular dataset (the one that the gfs file is used for)?</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element default="0.0" minOccurs="0" name="ExtentXMax" type="xs:double">
                      <xs:annotation>
                        <xs:documentation>TBD: What is the purpose of this element? Define the extent (here: XMax) of a particular dataset (the one that the gfs file is used for)?</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element default="0.0" minOccurs="0" name="ExtentYMin" type="xs:double">
                      <xs:annotation>
                        <xs:documentation>TBD: What is the purpose of this element? Define the extent (here: YMin) of a particular dataset (the one that the gfs file is used for)?</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element default="0.0" minOccurs="0" name="ExtentYMax" type="xs:double">
                      <xs:annotation>
                        <xs:documentation>TBD: What is the purpose of this element? Define the extent (here: YMax) of a particular dataset (the one that the gfs file is used for)?</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ExtraInfo" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>TBD: What is the purpose of this element? Provide a human readable information about a particular dataset (the one that the gfs file is used for)?</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" ref="PropertyDefn"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="SupportedGeometryTypes">
    <xs:annotation>
      <xs:documentation>TBD: Which of all the values of OGRwkbGeometryType, listed on https://gdal.org/doxygen/ogr__core_8h.html, are actually allowed and relevant? Based upon the code, either an int value of 1 &lt;= value &lt;= 16 is allowed, or a string value that is mapped by OGRFromOGCGeomType to an OGRwkbGeometryType (OGRFromOGCGeomType is implemented in ogrgeometry.cpp, see valid values there [including a possible Z, M, or ZM suffix; MZ is NOT supported, it looks like]).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]|1[0-6]"/>
      <xs:pattern value="[pP][oO][iI][nN][tT]"/>
      <xs:pattern value="[lL][iI][nN][eE][sS][tT][rR][iI][nN][gG]"/>
      <xs:pattern value="[pP][oO][lL][yY][gG][oO][nN]"/>
      <xs:pattern value="[mM][uU][lL][tT][iI][pP][oO][iI][nN][tT]"/>
      <xs:pattern value="[mM][uU][lL][tT][iI][lL][iI][nN][eE][sS][tT][rR][iI][nN][gG]"/>
      <xs:pattern value="[mM][uU][lL][tT][iI][pP][oO][lL][yY][gG][oO][nN]"/>
      <xs:pattern value="[gG][eE][oO][mM][eE][tT][rR][yY][cC][oO][lL][lL][eE][cC][tT][iI][oO][nN]"/>
      <xs:pattern value="[cC][iI][rR][cC][uU][lL][aA][rR][sS][tT][rR][iI][nN][gG]"/>
      <xs:pattern value="[cC][oO][mM][pP][oO][uU][nN][dD][cC][uU][rR][vV][eE]"/>
      <xs:pattern value="[cC][uU][rR][vV][eE][pP][oO][lL][yY][gG][oO][nN]"/>
      <xs:pattern value="[mM][uU][lL][tT][iI][cC][uU][rR][vV][eE]"/>
      <xs:pattern value="[mM][uU][lL][tT][iI][sS][uU][rR][fF][aA][cC][eE]"/>
      <xs:pattern value="[tT][rR][iI][aA][nN][gG][lL][eE]"/>
      <xs:pattern value="[pP][oO][lL][yY][hH][eE][dD][rR][aA][lL][sS][uU][rR][fF][aA][cC][eE]"/>
      <xs:pattern value="[tT][iI][nN]"/>
      <xs:pattern value="[cC][uU][rR][vV][eE]"/>
      <xs:pattern value="[sS][uU][rR][fF][aA][cC][eE]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GeomPropertyDefn">
    <xs:complexType>
      <xs:all>
        <xs:element name="Name" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name of a geometric property of the feature. Can be different than the name of the XML element that represents that property. Examples: case can change, a prefix can be added to the name, and the name can be more human readable (e.g. the full name, rather than an abbreviation, or a combination of names in the element path).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ElementPath" type="xs:string">
          <xs:annotation>
            <xs:documentation>Defines the path to the XML element that represents the geometry property within the XML element of the GML feature. Can use '|' as element separator. Namespace prefixes of path elements are insignificant. NOTE: The path should not include the actual GML geometry element itself.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Type" type="SupportedGeometryTypes">
          <xs:annotation>
            <xs:documentation/>
          </xs:annotation>
        </xs:element>
        <xs:element default="true" minOccurs="0" name="Nullable" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>TBD: What is the purpose of the Nullable element?</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyDefn">
    <xs:complexType>
      <xs:all>
        <xs:element name="Name" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name of a non-geometric property of the feature. Can be different than the name of the XML element that represents that property.

NOTE: Properties with name suffix "_href" - typically used when the ElementPath ends in @xlink:href - can be used to build junction tables. For further details, see https://gdal.org/drivers/vector/gml.html#building-junction-tables.

Examples: case can change, a prefix can be added to the name, and the name can be more human readable (e.g. the full name, rather than an abbreviation, or a combination of names in the element path).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ElementPath" type="xs:string">
          <xs:annotation>
            <xs:documentation>Defines the path to the XML element that represents the property within the XML element of the GML feature. Can use '|' as element separator. The last path segment may have an XML attribute name as suffix, using '@' as separator (e.g., width@uom). Namespace prefixes of path elements are insignificant.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Type">
          <xs:annotation>
            <xs:documentation>TBD: Is 'Untyped' a valid value? What are the values 'Complex', 'FeatureProperty', and 'FeaturePropertyList' actually used for?</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="String"/>
              <xs:enumeration value="Integer"/>
              <xs:enumeration value="Real"/>
              <xs:enumeration value="StringList"/>
              <xs:enumeration value="IntegerList"/>
              <xs:enumeration value="RealList"/>
              <xs:enumeration value="Complex"/>
              <xs:enumeration value="FeatureProperty"/>
              <xs:enumeration value="FeaturePropertyList"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element default="true" minOccurs="0" name="Nullable" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>TBD: What is the purpose of this element?</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Subtype">
          <xs:annotation>
            <xs:documentation>Further specializes the property type. Allowed combinations are: (Type: Integer, Subtype: Short, Integer64), (Type: IntegerList, Subtype: Integer64), (Type: Real, Subtype: Float), (Type: String, Subtype: Boolean, Date, Time, Datetime), (Type: StringList, Subtype: Boolean)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Boolean"/>
              <xs:enumeration value="Date"/>
              <xs:enumeration value="Time"/>
              <xs:enumeration value="Datetime"/>
              <xs:enumeration value="Short"/>
              <xs:enumeration value="Integer64"/>
              <xs:enumeration value="Float"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Condition" type="xs:string">
          <xs:annotation>
            <xs:documentation>Can be used to create multiple properties from the same XML element, based upon a set of mutually exclusive conditions. For further details, and examples, see https://gdal.org/drivers/vector/gml.html#using-conditions-on-xml-attributes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element default="false" minOccurs="0" name="Unique" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>TBD: What is the purpose of this element?</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element default="0" minOccurs="0" name="Width" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>TBD: Can we provide a general description of this element? Are there further restrictions on the value range, for example a maximum integer value?

Supported use cases: (Type: String, Subtype is NOT Boolean, Date, Time, or Datetime), (Type: Integer), (Type: Real)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element default="0" minOccurs="0" name="Precision" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>TBD: Can we provide a general description of this element? Are there further restrictions on the value range, for example a maximum integer value?

Supported use cases: (Type: Real)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
