ogr/ogrsf_frmts/vrt/ogrvrt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/******************************************************************************
 * $Id$
 *
 * Project:  GDAL/OGR
 * Purpose:  (Non normative) XML Schema for OGR VRT files.
 * Author:   Even Rouault, <even dot rouault at mines dash paris dot org>
 *
 **********************************************************************
 * Copyright (c) 2012, Even Rouault
 *
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 ****************************************************************************/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
    <xs:element name="OGRVRTDataSource">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="OGRVRTLayer" type="OGRVRTLayerType"/>
                    <xs:element name="OGRVRTWarpedLayer" type="OGRVRTWarpedLayerType"/>
                    <xs:element name="OGRVRTUnionLayer" type="OGRVRTUnionLayerType"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="OGRVRTLayerType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="SrcDataSource" type="SrcDataSourceType">
                    <xs:annotation>
                        <xs:documentation>Required element</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SrcLayer" type="nonEmptyStringType">
                    <xs:annotation>
                        <xs:documentation>SrcLayer or(eclusive) SrcSQL are required elements</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SrcSQL">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="nonEmptyStringType">
                                <xs:attribute name="dialect" type="nonEmptyStringType"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FID" type="nonEmptyStringType"/>
                <xs:element name="Style" type="nonEmptyStringType"/>
                <xs:element name="GeometryType" type="GeometryTypeType"/>
                <xs:element name="GeometryField" type="GeometryFieldType"/>
                <xs:element name="LayerSRS" type="nonEmptyStringType"/>
                <xs:element name="Field" type="FieldType">
                    <xs:annotation>
                        <xs:documentation>May be repeated</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SrcRegion" type="SrcRegionType"/>
                <xs:element name="attrFilterPassThrough" type="OGRBooleanType">
                    <xs:annotation>
                        <xs:documentation>Default to FALSE.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FeatureCount" type="xs:integer"/>
                <xs:group ref="ExtentType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="nonEmptyStringType" use="required"/>
    </xs:complexType>

    <xs:group name="ExtentType">
        <xs:sequence>
            <xs:element name="ExtentXMin" type="xs:double" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ExtentYMin" type="xs:double" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ExtentXMax" type="xs:double" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ExtentYMax" type="xs:double" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="SrcDataSourceType">
        <xs:simpleContent>
            <xs:extension base="nonEmptyStringType">
                <xs:attribute name="relativeToVRT" type="OGRBooleanType" default="FALSE">
                    <xs:annotation>
                        <xs:documentation>Default to FALSE.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="shared" type="OGRBooleanType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="nonEmptyStringType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GeometryTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="wkbNone"/>
            <xs:enumeration value="wkbUnknown"/>
            <xs:enumeration value="wkbPoint"/>
            <xs:enumeration value="wkbLineString"/>
            <xs:enumeration value="wkbPolygon"/>
            <xs:enumeration value="wkbMultiPoint"/>
            <xs:enumeration value="wkbMultiLineString"/>
            <xs:enumeration value="wkbMultiPolygon"/>
            <xs:enumeration value="wkbGeometryCollection"/>
            <xs:enumeration value="wkbPoint25D"/>
            <xs:enumeration value="wkbLineString25D"/>
            <xs:enumeration value="wkbPolygon25D"/>
            <xs:enumeration value="wkbMultiPoint25D"/>
            <xs:enumeration value="wkbMultiLineString25D"/>
            <xs:enumeration value="wkbMultiPolygon25D"/>
            <xs:enumeration value="wkbGeometryCollection25D"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FieldType">
        <xs:attribute name="name" type="nonEmptyStringType" use="required"/>
        <xs:attribute name="type" type="OGRFieldTypeType" default="String"/>
        <xs:attribute name="src" type="nonEmptyStringType">
            <xs:annotation>
                <xs:documentation>Defaults to the value of "name" if not specified.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="width" type="xs:nonNegativeInteger"/>
        <xs:attribute name="precision" type="xs:nonNegativeInteger"/>
    </xs:complexType>

    <xs:simpleType name="OGRFieldTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Integer"/>
            <xs:enumeration value="Real"/>
            <xs:enumeration value="String"/>
            <xs:enumeration value="IntegerList"/>
            <xs:enumeration value="RealList"/>
            <xs:enumeration value="StringList"/>
            <xs:enumeration value="Binary"/>
            <xs:enumeration value="Date"/>
            <xs:enumeration value="Time"/>
            <xs:enumeration value="DateTime"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="GeometryFieldType">
        <xs:attribute name="encoding">
            <xs:annotation>
                <xs:documentation>Defaults to Direct.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Direct"/>
                    <xs:enumeration value="None"/>
                    <xs:enumeration value="WKT"/>
                    <xs:enumeration value="WKB"/>
                    <xs:enumeration value="Shape"/>
                    <xs:enumeration value="PointFromColumns"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="field" type="nonEmptyStringType">
            <xs:annotation>
                <xs:documentation>Only used if encoding = "WKT", "WKB" or "Shape"</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="x" type="nonEmptyStringType">
            <xs:annotation>
                <xs:documentation>Only used if encoding = "PointFromColumns"</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="y" type="nonEmptyStringType">
            <xs:annotation>
                <xs:documentation>Only used if encoding = "PointFromColumns"</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="z" type="nonEmptyStringType">
            <xs:annotation>
                <xs:documentation>Only used if encoding = "PointFromColumns"</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="useSpatialSubquery" type="OGRBooleanType">
            <xs:annotation>
                <xs:documentation>Only used if encoding = "PointFromColumns". Defaults to TRUE.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="reportSrcColumn" type="OGRBooleanType">
            <xs:annotation>
                <xs:documentation>Only used if no Field element is found at the OGRVRTLayer level</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SrcRegionType">
        <xs:simpleContent>
            <xs:extension base="PolygonWKTType">
                <xs:attribute name="clip" type="OGRBooleanType">
                    <xs:annotation>
                        <xs:documentation>Defaults to FALSE.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="PolygonWKTType">
        <xs:annotation>
            <xs:documentation>A valid WKT for a POLYGON</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="POLYGON.*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OGRBooleanType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="ON"/>
            <xs:enumeration value="OFF"/>
            <xs:enumeration value="on"/>
            <xs:enumeration value="off"/>
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="TRUE"/>
            <xs:enumeration value="FALSE"/>
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="OGRVRTWarpedLayerType">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="OGRVRTLayer" type="OGRVRTLayerType"/>
                <xs:element name="OGRVRTWarpedLayer" type="OGRVRTWarpedLayerType"/>
                <xs:element name="OGRVRTUnionLayer" type="OGRVRTUnionLayerType"/>
            </xs:choice>
            <xs:element name="SrcSRS" type="nonEmptyStringType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TargetSRS" type="nonEmptyStringType" minOccurs="1" maxOccurs="1"/>
            <xs:group ref="ExtentType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OGRVRTUnionLayerType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="OGRVRTLayer" type="OGRVRTLayerType">
                    <xs:annotation>
                        <xs:documentation>May be repeated</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OGRVRTWarpedLayer" type="OGRVRTWarpedLayerType">
                    <xs:annotation>
                        <xs:documentation>May be repeated</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OGRVRTUnionLayer" type="OGRVRTUnionLayerType">
                    <xs:annotation>
                        <xs:documentation>May be repeated</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="GeometryType" type="GeometryTypeType"/>
                <xs:element name="LayerSRS" type="nonEmptyStringType"/>
                <xs:element name="FieldStrategy" type="FieldStrategyType">
                    <xs:annotation>
                        <xs:documentation>Defaults to Union if no Field element is speicified.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Field" type="FieldType">
                    <xs:annotation>
                        <xs:documentation>May be repeated</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PreserveSrcFID" type="OGRBooleanType">
                    <xs:annotation>
                        <xs:documentation>Defaults to FALSE.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SourceLayerFieldName" type="nonEmptyStringType"/>
                <xs:element name="FeatureCount" type="xs:integer"/>
                <xs:group ref="ExtentType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="nonEmptyStringType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="FieldStrategyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FirstLayer"/>
            <xs:enumeration value="Union"/>
            <xs:enumeration value="Intersection"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
